<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="d-flex">
    <div class="side-bar bg-color">
      <div class=""><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/logo-ANSWER.svg" alt="logo"></div>
      <ul class="list-unstyled fw-bold">
        <li>
          <span class="material-icons">poll</span>
          Dashboard
        </li>
        <li>
          <span class="material-icons">question_answer</span>
          Question
        </li>
        <li>
          <span class="material-icons">assignment</span>
          Assignment
        </li>
        <li>
          <span class="material-icons">video_library</span>
          Course
        </li>
        <li>
          <span class="material-icons">people</span>
          Admin
        </li>
        <li>
          <span class="material-icons">settings</span>
          Settings
        </li>
      </ul>
      <div class="d-flex">
        <div>
          <img class="round-img avatar" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/andychen.jpeg" alt="Andy Chen">
        </div>
        <div>
          <h2 class="fw-bold fs-6 lh-base">Andy Chen</h2>
          <p class="email-color lh-base fs-7">andy0401@mail.com</p>
        </div>
      </div>
    </div>
    <div>
      <%- contents %>
    </div>
  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
