.bg-color{
    background-color: $gray-100;
}

.side-bar{
    width: 296px;
}

.avatar{
    width: 40px;
    height: 40px;
}

.email-color{
    color: $gray-600;
}
    

.round-img{
    border-radius: 50%;
}
